

.navbar .brand{
    font-weight: bold;
}

.navbar-nav .nav-item{
    margin-left: 2rem;
}


h1{
font-size: xx-large;
font-style:Serif;
padding-bottom: 10%;
}

.btn{
    padding: 1rem 3rem;
}

/* Product Sesion */

#products {
    margin-top: 1.5rem;
}
/*Arrival Session*/
#arrival{
    min-width: 1500px;
    max-width: 1000px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    padding-left: 10rem;
    
  }

.char {
    text-align: center;
    font-size: xx-large;
    font-family:sans-serif;
    padding-top: 2rem;
}

/*About Session*/
.about{
    background-image: url(/images/Fashionista.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.about-caption{
    text-align: center;
    margin-top: 8rem;
    
}

.singlecol{
    position: relative;
}

.caption{
    position: absolute;
    bottom: 50px;
    margin-left: 3rem;
}

.caption p{
    font-size: 2.5rem  ;
}

.container{
    margin-top: 1.5rem;

}

footer {
    background-color: #1B2547;
}

.columncontent ul{
    list-style: none;
    padding: 0;
}

.columncontent ul li{
    padding-bottom: 1.2rem;
}
